name: Generate pacman animation

on:
  schedule:
    - cron: "0 */12 * * *" # Chạy 12h một lần
  workflow_dispatch:
  push:
    branches:
    - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v3

      - name: generate pacman-contribution-graph.svg
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}

      - name: Move to dist folder
        run: |
          mkdir -p dist
          mv pacman-contribution-graph.svg dist/
          cp dist/pacman-contribution-graph.svg dist/pacman-contribution-graph-dark.svg

      - name: push pacman-contribution-graph.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
