name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *" # Chạy mỗi 12h
  workflow_dispatch:
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: huynhkhuanit
          outputs: |
            # 1. Bản Light (Màu cam hiện đại thay vì xanh lá cũ)
            dist/github-contribution-grid-snake.svg?color_snake=orange&color_dots=#bfd6f6,#8dbdff,#64a1f4,#4b91f1,#3c7dd9
            
            # 2. Bản Dark (Phong cách Cyberpunk/Neon: Nền đen, dot tím/hồng, rắn vàng)
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=#FFD700&color_dots=#161B22,#49006a,#7a0177,#ae017e,#dd3497

      - uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
