name: Generate Snake

on:
  # Chạy tự động mỗi 12 giờ
  schedule:
    - cron: "0 */12 * * *"
  
  # Cho phép chạy thủ công
  workflow_dispatch:

  # Chạy mỗi khi push lên branch main
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: huynhkhuanit
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      - uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
